@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@font-face {
    font-family: miFuente;
    src: url(../fuentes/CreteRound.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100%;
    margin: 0;
}

nav {
    width: 100%;
    border-bottom: 1px solid #4D4D4D;
    height: 60px;
    font-family: miFuente;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9em;
    padding-bottom: 10px;
    margin: top 1em;
}

nav img {
    width: 3%;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    color: #4D4D4D;
    font-weight: bold;
}

nav a:first-of-type {
    margin-left: 15px;
}

p {
    color: #808080;
}

button {
    padding: 0.2em;
    border: 2px solid black;
    width: 130px;
    height: 50px;
    font-size: 1em;
    text-transform: uppercase;
    background: transparent;
    font-family: miFuente;
    margin-top: 3em;
    color: black;
}

header img {
    width: 30%;
}

header h1 {
    font-size: 3em;
}

section,
header {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin: auto;
}

header button:hover {
    width: 300px;
    background-color: black;
    color: white;
}

section img {
    width: 10%;
}

article div {
    display: flex;
    align-items: center;
}

#capa {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#capa video {
    max-width: 100%;
    height: auto;
}

#capa button,
#capa ul {
    border: 1px solid white;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px;
    list-style: none;
}

#compra {
    flex-direction: column;
    justify-content: center;
    background-color: #808080;
    color: white;
    width: 100%;
    font-family: miFuente;
}

#compra h3 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

#compra button {
    color: white;
    border-color: white;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style: none;
}